body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: url('background.png') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

a {
    color: #fff; /* Set link color to white */
    text-decoration: none; /* Remove default underline */
}

.project a {
    color: #000000; /* Set link color to black */
}

.contact-box a {
    color: #ac0b0b; /* Set link color to black */
}


a:hover {
    text-decoration: underline; /* Underline on hover */
}

header {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 1rem 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2rem;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.section {
    padding: 2rem 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2rem;
}

h2 {
    margin-bottom: 1rem;
}

.profile, .skills-left, .skills-right, .project, .contact-box {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    color: #333;
    text-shadow: none;
    margin-bottom: 20px; /* Add margin to separate the sections */
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile img {
    border-radius: 10px;
    width: 800px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px;
}

.about-text {
    text-align: justify; /* Justify the text */
}

.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem; /* Add space between the two sections */
}

.skills-left,
.skills-right {
    width: 45%; /* Adjust width to fit side by side */
}

.skills-left ul,
.skills-right ul {
    list-style: none;
    padding: 0;
}

.skills-left li,
.skills-right li {
    margin-bottom: 10px;
}

footer {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2rem;
}
